<div class="row">
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <h6 class="text-uppercase">Requirements</h6>
                <h1 class="display-1">134</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-danger">
            <div class="card-block bg-danger">
                <h6 class="text-uppercase">Requirements Files</h6>
                <h1 class="display-1">87</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info">
                <h6 class="text-uppercase">Projects</h6>
                <h1 class="display-1">125</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card card-inverse card-warning">
            <div class="card-block bg-warning">
                <h6 class="text-uppercase">Namespaces</h6>
                <h1 class="display-1">36</h1>
            </div>
        </div>
    </div>
</div>
<hr />
