/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
