<h2>Project {{project.name}}</h2>
<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Name</label>
    <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="project.name">
    </div>
</div>
<div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Namespace</label>
    <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="project.namespace">
    </div>
</div>
<div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Url</label>
    <div class="col-10">
        <input class="form-control" type="url" [(ngModel)]="project.url">
    </div>
</div>
<div class="form-group row">
    <label for="example-url-input" class="col-2 col-form-label">Tags</label>
    <div class="col-10">
        <tag-input [ngModel]="project.tags"></tag-input>
    </div>
</div>
<div class="form-group row">
    <label for="example-url-input" class="col-2 col-form-label">Actions</label>
    <div class="col-10 text-left">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Save</button>
            <button type="button" class="btn btn-secondary">Add new requirments file</button>
            <button type="button" class="btn btn-secondary">Delete</button>
            <button type="button" class="btn btn-secondary">Reset</button>
        </div>
    </div>
</div>
