<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="/assets/python.png" />
        Pipwatch
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let menuItem of menuItems" class="nav-item" [ngClass]="{'active': menuItem.url===currentRoute, 'dropdown': menuItem.isDropdown()}">
                <a *ngIf="!menuItem.isDropdown()" class="nav-link" href="{{menuItem.url}}">{{menuItem.name | titlecase }}</a>
                <a *ngIf="menuItem.isDropdown()" class="nav-link dropdown-toggle" href="{{menuItem.url}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{menuItem.name | titlecase }}</a>
                <div *ngIf="menuItem.isDropdown()" class="dropdown-menu">
                  <a *ngFor="let nestedItem of menuItem.nestedItems" class="dropdown-item" href="{{nestedItem.url}}">{{nestedItem.name || titlecase }}</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
