<div *ngIf="projectDetails">
    <h2>{{projectDetails.name}} details!</h2>

    <div><label>Id:&nbsp;</label>{{projectDetails.id}}</div>
    <div><label>Name:&nbsp;</label>{{projectDetails.name}}</div>
    <div><label>Namespace:&nbsp;</label>{{projectDetails.namespace}}</div>
    <div><label>Check command:&nbsp;</label>{{projectDetails.checkCommand}}</div>

    <div><label>Git repository</label>
        <div><label>Url:&nbsp;</label>{{projectDetails.gitRepository.url}}</div>
        <div><label>Flavour:&nbsp;</label>{{projectDetails.gitRepository.flavour}}</div>

        <div><label>Upstream url:&nbsp;</label>{{projectDetails.gitRepository.upstreamUrl}}</div>
        <div><label>Github instance api address:&nbsp;</label>{{projectDetails.gitRepository.githubApiAddress}}</div>
        <div><label>Github project name:&nbsp;</label>{{projectDetails.gitRepository.githubProjectName}}</div>
        <div><label>Github project owner:&nbsp;</label>{{projectDetails.gitRepository.githubProjectOwner}}</div>
    </div>

    <div *ngFor="let requirmentFile of projectDetails.requirementsFiles"><label>Requirement file</label>
        <div><label>Path:&nbsp;</label>{{requirmentFile.path}}</div>
        <div><label>Status:&nbsp;</label>{{requirmentFile.status}}</div>
    </div>

    <div><label>Tags</label>
        <span *ngFor="let tag of projectDetails.tags">{{tag.name}}</span>
    </div>

    <button (click)="goBack()">Back</button>
</div>
