<div class="starter-template">
    <h3 *ngIf="projectDetails">{{projectDetails.name | titlecase }} details</h3>
    <hr/>
    <form *ngIf="projectDetails">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" required [(ngModel)]="projectDetails.name" name="name" [disabled]="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="namespace" class="col-sm-2 col-form-label">Namespace</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="namespace" required [(ngModel)]="projectDetails.namespace" name="namespace" [disabled]="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="checkCommand" class="col-sm-2 col-form-label">Check command</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="checkCommand" [(ngModel)]="projectDetails.checkCommand" name="checkCommand" [disabled]="true">
            </div>
        </div>

        <div class="form-group row">
                <label for="tags" class="col-sm-2 col-form-label"><em>Git repository</em></label>
                <div class="col-sm-10"><hr/></div>
        </div>

        <div class="form-group row">
            <label for="url" class="col-sm-2 col-form-label">Url</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="url" [(ngModel)]="projectDetails.gitRepository.url" name="url" [disabled]="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="flavour" class="col-sm-2 col-form-label">Flavour</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="flavour" [(ngModel)]="projectDetails.gitRepository.flavour" name="flavour" [disabled]="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="upstreamUrl" class="col-sm-2 col-form-label">Upstream url</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="upstreamUrl" [(ngModel)]="projectDetails.gitRepository.upstreamUrl" name="upstreamUrl" [disabled]="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="githubApiAddress" class="col-sm-2 col-form-label">Github api address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="githubApiAddress" [(ngModel)]="projectDetails.gitRepository.githubApiAddress" name="githubApiAddress" [disabled]="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="githubProjectName" class="col-sm-2 col-form-label">Github project name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="githubProjectName" [(ngModel)]="projectDetails.gitRepository.githubProjectName" name="githubProjectName" [disabled]="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="githubProjectOwner" class="col-sm-2 col-form-label">Github project owner</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="githubProjectOwner" [(ngModel)]="projectDetails.gitRepository.githubProjectOwner" name="githubProjectOwner" [disabled]="true">
            </div>
        </div>

        <div class="form-group row">
            <label for="tags" class="col-sm-2 col-form-label"><em>Requirements files</em></label>
            <div class="col-sm-10"><hr/></div>
        </div>

        <div class="form-group row">
            <label for="tags" class="col-sm-2 col-form-label">&nbsp;</label>
            <div class="col-sm-10">
                <app-requirements-file-details *ngFor="let requirmentFile of projectDetails.requirementsFiles" [requirementsFileId]="requirmentFile.id"></app-requirements-file-details>
            </div>
        </div>

        <div class="form-group row">
            <label for="tags" class="col-sm-2 col-form-label">&nbsp;</label>
            <div class="col-sm-10"><hr/></div>
        </div>

        <div class="form-group row">
            <label for="tags" class="col-sm-2 col-form-label">Tags</label>
            <div class="col-sm-10 text-left">
                <h3><span class="badge badge-primary" *ngFor="let tag of projectDetails.tags">{{tag.name}}</span></h3>
            </div>
        </div>


        <div class="form-group row">
            <label for="tags" class="col-sm-2 col-form-label">&nbsp;</label>
            <div class="col-sm-10 text-right">
                <button class="btn btn-default" (click)="goBack()">Back</button>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </div>

    </form>
</div>