<div class="row">
    <h1>Services status</h1>
</div>
<div class="row">
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr *ngFor="let service of statuses">
                <td>{{service.name}}&nbsp;&#64;&nbsp;{{service.url}}</td>
                <td>{{service.description}}</td>
                <td><span class="badge {{service.status.cssStyle}}">{{service.status.name}}</span></td>
                <td>{{service.status.details}}</td>
            </tr>
        </tbody>
    </table>
</div>
