<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Pipwatch Ui</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
  
<main role="main" class="container">
    <div class="starter-template">       
        <h3>Projects</h3>
        <hr/>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            <tr *ngFor="let project of listOfProjects">
                <td>{{project.id}}</td>
                <td>{{project.name}}</td>
                <td>{{project.url}}</td>
                <td><button type="button" class="btn btn-primary btn-sm" (click)="projectUpdate(project.id)">Run update</button></td>
                <td><button type="button" class="btn btn-primary btn-sm">Check status</button></td>
            </tr>
        </table>            
    </div>
</main>

